# Python bytecode and caches
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Notebook checkpoints
.ipynb_checkpoints/


# IDE/editor settings
.idea/
.vscode/


# Environment files
.env
.env.*
